p{
    color:purple;
}
.container{
    display: flex;
}
.box{
    height:200px;
    width:200px;
    background-color: blue;
    margin:3px;
    border:10px solid black;
}
#box1:hover{
    background-color:yellow;
    height:100px;
    width:50px;
}